[submodule "AsapOptim"]
	path = AsapOptim
	url = https://github.com/natashahirt/AsapOptim
[submodule "AsapToolkit"]
	path = AsapToolkit
	url = https://github.com/natashahirt/AsapToolkit
[submodule "TributaryAreas"]
	path = TributaryAreas
	url = https://github.com/natashahirt/TributaryAreas
[submodule "VariableBeamOptimizer"]
	path = VariableBeamOptimizer
	url = https://github.com/natashahirt/VariableBeamOptimizer
