[submodule "AsapOptim"]
	path = AsapOptim
	url = ./AsapOptim
[submodule "AsapToolkit"]
	path = AsapToolkit
	url = ./AsapToolkit
[submodule "TributaryAreas"]
	path = TributaryAreas
	url = ./TributaryAreas
[submodule "VariableBeamOptimizer"]
	path = VariableBeamOptimizer
	url = ./VariableBeamOptimizer